<!-- 
	boardDetail.html
	게시판 상세 폼
 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<title>게시판 상세</title>
<div layout:fragment="content">
	<div class="container">
		<h1>게시판 상세</h1>
		<form id="frm" name="frm" method="POST" class="row g-3">
		  <div class="col-md-6">
		    <label class="form-label">제목</label>
		    <input type="text" name="title" class="form-control" th:value="${board.title}" >
		  </div>
		  <div class="col-md-6">
		    <label class="form-label">조회수</label>
		    <input type="text" name="hitCnt" class="form-control" th:value="${board.hitCnt}" readonly>
		  </div>
		  <div class="col-md-6">
		    <label class="form-label">작성자</label>
		    <input type="text" name="createId" class="form-control" th:value="${board.createId}" readonly>
		  </div>
		  <div class="col-md-6">
		    <label class="form-label">작성일</label>
		    <input type="text" class="form-control" th:value="${board.createDate}" readonly>
		  </div>
		  <div class="col-12">
	  		    <label class="form-label">내용</label>  
				<textarea class="form-control" title="내용" id="contents" name="contents" th:text="${board.contents}"></textarea>
		  </div>
		
			<!-- boardIdx hidden 처리 -->
			<input type="hidden" name="boardIdx" th:value="${board.boardIdx}" />
		</form>

		<!-- 버튼  -->
		<input type="button" id="list" value="목록" class="btn btn-primary" />
	 	<input type="button" id="edit" value="수정" class="btn btn-primary" /> 
		<input type="button" id="delete" value="삭제" class="btn btn-primary" />
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			// 이건 a태그 쓰는게 더 나음
			$("#list").on("click", function() {
				location.href = "/board/boardList";
			});

			// 같은 form에서 서로 다른 동작(action)을 하기 위해 JS로 처리했다. -> 수정, 삭제
			$("#edit").on("click", function() {
				alert("글이 수정 되었습니다.");
				// form을 전송 하는 부분
				let frm = $("#frm")[0]; // form의 id를 찾음. [0]은 없어도됨
				frm.action = "/board/boardUpdate"; // form의 action 세팅
				frm.submit() // form submit
			});

			$("#delete").on("click", function() {
				alert("글이 삭제 되었습니다.");
				// form을 전송 하는 부분
				let frm = $("#frm")[0];
				frm.action = "/board/boardDelete";
				frm.submit()
			});

		});
	</script>
</div>

</html>


<!-- 
<div class="file_list">
	<!-- href post방식 값 전달 
	<a 	th:each="file : ${board.fileList}" 
		th:href="@{/board/downloadBoardFile(idx=${file.idx}, boardIdx=${file.boardIdx})}"
		th:text="|${file.originalFileName} (${file.fileSize}KB)|">
	
	</a>
</div>
 -->
